.lemom1{
    display: flex;
    background: black;

    
    
    justify-content: center;
    align-items: center;
    
}


.fondo1{
    background: black;
    
    
    
    
}


.dorao{
    
    width: 100%;
    padding: 0;
    height: 75vh;
    display: block;
    
    
}

.doraoparty{
    height: 75%;
    width: 70%;
    padding: 10px;
    margin: 10px;
    align-content: center;
    margin-left: 20px;
    border: 4px solid  #f5fbfc;
    


   
 }

 .logoPortafolio{
     width: 150px;
     margin-left: 165px;
     
     
 }

 




