.lemom1{
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: static;
    
    
}


.fondo1{
    background: black;
    
    
    
    
}


.dorao{
     width: 100%;
     height: 130vh;
   
}

.doraoparty{
    height: 90%;
    width: 100%;
    
    align-content: center;


    


   
 }

 

 




